%html
  %head
    %title
      - if @title
        = @title
  %body
    %h1
      - if @h1
        = @h1
    %div
      -  if @v1 
        -  if @v2 
          -  if @v3 
            -  if @v4 
              -  if @v5 
                -  if @v6 
                  -  if @v7 
                    -  if @v8 
                      -  if @v9 
                        -  if @v10 
                          -  if @v11 
                            -  if @v12 
                              -  if @v13 
                                -  if @v14 
                                  -  if @v15 
                                    -  if @v16 
                                      -  if @v17 
                                        -  if @v18 
                                          -  if @v19 
                                            -  if @v20 
                                              -  if @v21 
                                                -  if @v22 
                                                  -  if @v23 
                                                    -  if @v24 
                                                      -  if @v25 
                                                        -  if @v26 
                                                          -  if @v27 
                                                            -  if @v28 
                                                              -  if @v29 
                                                                -  if @v30 
                                                                  = stuff
