<html>
  <head>
    <title>
      <% if @title %>
        <%= @title %>
      <% end %>
    </title>
  </head>
  <body>
    <h1>
      <% if @h1 %>
        <%= @h1 %>
      <% end %>
    </h1>
    <div>
      <% if @div %>
        <%= @div %>
      <% end %>
    </div>
  </body>
</html>
