!!!
%html
  %head
    %title Ramaze Source Browser

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/jquery.treeview.css' }/
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/coderay.css' }/
    %style{ :type => 'text/css' }
      :sass
        body
          :font-family sans-serif
          :margin 1.5em

        a
          :text-decoration none
          :color #000
          &.selected
            :color #f00

        #dir_listing
          :float left

          .filetree
            span.folder, span.file
              :padding-left 19px
              :margin-left 2px

        #file_contents
          :margin-left 290px
          :white-space pre
          :font-size 11pt

  %body
    #dir_listing
      = render_partial('/filetree')
    #file_contents.CodeRay
      %span{ :style => 'text-align: center' }
        %h1 Welcome to the Ramaze source code browser
        %h3 pick a file on the left to view its contents

    %script{ :type => 'text/javascript', :src => '/jquery.js' }=''
    %script{ :type => 'text/javascript', :src => '/jquery.treeview.js' }=''
    %script{ :type => 'text/javascript', :src => '/sourceview.js' }=''