body {
  margin: 0;
  padding: 0;
  background: #fea;
}

a {
  color: #f60;
  text-decoration: none;
}

a:hover, a:focus {
  color: #a30;
  text-decoration: underline;
}

address {
  display: inline;
}

ul {
  font-size: 0.9em;
  list-style: none;
  padding: 0;
}

table {
  width: 100%;
}

fieldset {
  border: 0px;
}

legend {
  display: none;
}

textarea {
  width: 600px;
  height: 22em;
  font-family: sans-serif;
  background: #ffc;
  padding: 0 0 0 0.5em;
}

input {
  background: #ffc;
}

.header h1, h2 {
  text-align: center;
  font-family: serif;
  font-variant: small-caps;
  font-size: 1.5em;
}

.header h1 {
  padding: 0;
  margin: 0 0 0.5em 0;
}

.header h1 a {
  text-decoration: none;
}

.header h1 {
  font-size: 2em;
}

.header h2 {
  font-size: 1em;
}

.main {
  width: 960px;
  margin: auto;
}

.content {
  width: 768px;
  float: left;
}

.sidebar {
  width: 186px;
  background: #ed9;
  padding: 0 6px 6px 0;
  float: right;
  text-align: right;
}

.sidebar ul {
  padding: 0.2em;
  margin: 6px 0 0 0;
  background: #ffc;
}

.sidebar li {
  margin-right: 0.2em;
}

.sidebar .title {
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 0.2em;
}

.sidebar .bio {
}

.sidebar .login {
  text-align: left;
}

.sidebar .login input {
  width: 10em;
}

.clear {
  clear: both;
}

.footer {
  clear: both;
  text-align: center;
  font-size: 0.9em;
  margin: 2em;
}

.entry {
  background: #ed9;
  margin-bottom: 2em;
  padding: 6px;
}

.entry .title {
  text-align: center;
}

.entry h2 {
  background: #ffc;
  margin-bottom: 0;
  margin-top: 0;
}

.entry .title a {
  font-size: 1.2em;
  font-family: serif;
  font-variant: small-caps;
  text-decoration: none;
}

.entry .entry-content {
  font-family: sans-serif;
  background: #ffc;
  padding: 1em;
}

.entry li {
  display: inline;
}

.entry a {
  text-decoration: none;
}

.entry .entry-info {
  background: #ed9;
  padding: 6px;
  font-size: 0.9em;
}

.entry .tags {
  float: left;
  margin: 0;
}

.entry .count {
  float: right;
}

.entry .about {
  clear: both;
  text-align: center;
}

.entry .actions {
}

.comments {
}

.comment {
  background: #ed9;
  padding: 6px;
  margin: 1em;
}

.comment .comment-content {
  background: #ffc;
  padding: 1em;
  clear: both;
}

.comment .comment-info {
  font-size: 0.9em;
}

.comment .about {
  float: left;
  padding: 6px;
}

.comment .gravatar {
  float: right;
  margin: 6px;
}

.comment .actions {
  clear: both;
  font-size: 0.9em;
  padding: 6px;
}

.comments form {
  margin-top: 2em;
}

.comments textarea {
  height: 7em;
}

form .error {
  color: #f00;
  display: block;
}

.pager {
  text-align: center;
}

.pager .grey {
  color: #aaa;
}

.pager .current {
  color: #f00;
}

form {
  margin: 0;
  padding: 0;
}

.entry-form form {
  background: #ed9;
}

#form-title {
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: serif;
  font-variant: small-caps;
  text-decoration: none;
}

#form-tags {
  padding: 0.5em;
  width: 100%;
}
