<html>
  <head>
    <title>Template::Ramaze internal</title>
  </head>
  <body>
  <h1>The <%= @action %> Template</h1>
    <%= link :/, :title => 'Home' %>
    <p>
      Here you can pass some stuff if you like, parameters are just passed like this:<br />
      <%= link self, @action, :one, :title => "#@action/one" %><br />
      <%= link self, @action, :one, :two, :three, :title => "#@action/one/two/three" %><br />
      <%= link self, @action, :one, :foo => :bar, :title => "#@action?foo=bar" %><br />
    </p>
    <div>
      The arguments you have passed to this action are:
      <% if @args.empty? %>
        none
      <% else %>
        <% @args.each do |arg| %>
          <span><%= arg %></span>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= request.params.inspect %>
    </div>
  </body>
</html>

